{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <a href="{{ path('user_edit', {
                    id: user.id
                }) }}" class="pull-right btn btn-link">
                    <h3>
                        {% if user.fullName %}
                            {{ user.fullName }}
                        {% else %}
                            {{ user.email }}
                        {% endif %}
                    </h3></a>

            </div>
        </div>
    </div>
{% endblock %}
