{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-header text-center">
        Welcome!!
        {{ app.user ? app.user.email : '' }}!
    </h1>
<ul>
    {% for job in jobs %}
     <li> {{ job.title }} </li>
    {% endfor %}
</ul>
{% endblock %}
