{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-header text-center">
        Welcome!!
        {{ app.user ? app.user.email : '' }}!
    </h1>

    <h1>Jobs list</h1>
    {% for job in jobs %}
        <h3> <a href="{{ path('job_show', { 'slug': job.slug }) }}">{{ job.title }}</a> </h3>
    {% endfor %}
{% endblock %}
